.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root{
  font-size: 60px;
}
h1{
  color:white;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1rem;
  width: 100%;
  margin: 0px;
  padding-top: 8px;
  padding-bottom: 10px;
  background-color: #0076D6;
}
header{
  width: 100%;
  height: 100px;
  position:fixed;
  background-color: #0076D6;
}

#logo{
  position:fixed;
  top:0;
  left:0;
  
  width:150px;
}
.login{
  width: 50%;
  height: 50%;
  background-color:#A6A6A6;
  position: absolute;
  margin-left: 25%;
  margin-right: 25%;
  top: 25%;
  
}
h2{
  color:white;
  text-align: center;
  font-size: .75rem;

}
#gradient{
  background-image: linear-gradient(white, #7DBCEF);
  height: 1000px;
  
}
